* {
  box-sizing: border-box;
}
body {
  font-family: monospace;
}
.nightmode {
  background: #000;
  color: #eee;
}
.entername {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.entername input {
  border-radius: 0.3em;
  border: 1px solid lightsalmon;
}
#app {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(330px, 540px) 1fr 1fr;
}
#app input {
  display: block;
  padding: 0.6em 0.3em;
  font-size: 1em;
}
#app div ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#app div ul li {
  width: 100%;
  padding: 1em 0;
}
.isdone {
  text-decoration: line-through;
}
nav {
  grid-column: 0.4;
  margin-bottom: 4em;
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  cursor: pointer;
}
nav ul {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline;
}
.taskli {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
}
.taskli :nth-child(2) {
  width: 70%;
}
.todosgrid {
  grid-column: 3;
}
.todosgrid > p {
  font-size: calc(1em + 10px);
}
.todosgrid > div > h2 {
  padding: 6px 0;
  border-bottom: 1px solid lightsalmon;
}
.todosgrid > div > p {
  font-size: 2em;
}
.inputbox {
  border-radius: 0.3em;
  background: white;
  border: 1px solid lightsalmon;
  display: flex;
  justify-content: space-between;
}
.inputbox input {
  width: 100%;
}
.inputbox input:focus, .inputbox input:active, .inputbox input:focus-within {
  border: 0;
}
.inputbox input, .inputbox span {
  border-radius: 0.3em;
  border: 0;
  align-self: center;
  margin: 0 0.2em;
}
