* {
  // background: #eee;
  box-sizing: border-box;
}
body {
  // background: #000;
  // color: #eee;
  font-family: monospace;
}
.nightmode {
  background: #000;
  color: #eee;
}
.neww {
  // font-family:sans-serif;
}

.entername {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  input {
    border-radius: 0.3em;
    border: 1px solid lightsalmon;
  }
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(330px, 540px) 1fr 1fr;
  input {
    display: block;
    padding: 0.6em 0.3em;
    font-size: 1em;
    // border-radius: 0.3em;
    // border: 1px solid lightsalmon;
  }
}
#app div ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    width: 100%;
    padding: 1em 0;
    // background: #1c1c1c;
  }
}

.isdone {
  text-decoration: line-through;
}

nav {
  grid-column: 2/5;
  margin-bottom: 4em;
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  cursor: pointer;

  ul {
    list-style: none;
    margin: 0;

    li {
      display: inline;
    }
  }
}

.taskli {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;

  & :nth-child(2) {
    width: 70%;
  }
}

.todosgrid {
  grid-column: 3;

  & > p {
    font-size: calc(1em + 10px);
  }
}

.todosgrid > div > h2 {
  padding: 6px 0;
  border-bottom: 1px solid lightsalmon;
}
.todosgrid > div > p {
  font-size: 2em;
}

.inputbox {
  border-radius: 0.3em;
  background: white;
  border: 1px solid lightsalmon;
  display: flex;
  justify-content: space-between;
  input {
    width: 100%;

    &:focus,
    &:active,
    &:focus-within {
      border: 0;
    }
  }
  input,
  span {
    border-radius: 0.3em;
    border: 0;
    align-self: center;
    margin: 0 0.2em;
  }
}
